
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-right: 40px;
  height: 80px;
  background-color: #000A46; /* Dark blue for navbar */
}

.navbar .logo img {
  height: 50px; /* Adjust logo height */
  border-radius: 5px;
}



/* Overall page styling */
:host {
    display: block;
    height: 100vh;
    background-color: #f0f0f0; /* Light grey background for the page */
    font-family: 'Arial', sans-serif;
  }
  
  /* Centering the success message container */
  .success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  
  /* Box styling for the success message */
  .success-box {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    max-width: 500px;
    text-align: center;
    width: 100%;
    border: 3px solid #b1fcff; 
  }
  
  /* Heading styling */
  .success-box h2 {
    color: #08007a;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Success message */
  .success-box p {
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 30px;
    line-height: 1.5;
    font-weight: 500;
  }
  
  /* Button styling */
  .update-btn {
    background-color: rgb(255, 210, 61);
    color: rgb(61, 61, 61);
    padding: 8px 6px;
    margin-left: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .update-btn:hover {
    background-color: #140085; /* Darker green on hover */
    color: white;
  }
  
  /* Hover effect for the button */
  .update-btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.7); /* Light green shadow */
  }
  
  /* Responsive Design for Mobile Devices */
  @media (max-width: 600px) {
    .success-box {
      padding: 20px;
    }
  
    .success-box h2 {
      font-size: 1.6rem;
    }
  
    .success-box p {
      font-size: 1rem;
    }
  
    .update-btn {
      width: 100%;
    }
  }
  